@using Blazorise;
@using Plachta.Client.Helpers
@using Plachta.Shared.BO

<Field>
    <FieldLabel>Názov</FieldLabel>
    <TextEdit @bind-Text="@nazovRozvrhu" Placeholder="Názov rozvrhu" />
</Field>

<Field>
    <FieldLabel>Počet dní</FieldLabel>
    <Addons>
        <Addon AddonType="AddonType.Body">
            <TextEdit IsPlaintext="true" IsReadonly="true" @bind-Text="@dniStr" />
        </Addon>
        <Addon AddonType="AddonType.End">
            <Buttons>
                <Button @onclick="PridajDen" Color="Color.Success" style="width:35px">+</Button>
                <Button @onclick="OdoberDen" Color="Color.Danger" style="width:35px">-</Button>
            </Buttons>
        </Addon>
    </Addons>
    <FieldHelp>Ak zmenšíte počet dní, niektoré aktivity môžu byť odstránené</FieldHelp>
</Field>

<Field>
    <FieldLabel>Začiatok</FieldLabel>
    <Select @bind-SelectedValue="@zaciatok" TValue="int">
        <SelectItem Value="0">Pondelok</SelectItem>
        <SelectItem Value="1">Utorok</SelectItem>
        <SelectItem Value="2">Streda</SelectItem>
        <SelectItem Value="3">Štvrtok</SelectItem>
        <SelectItem Value="4">Piatok</SelectItem>
        <SelectItem Value="5">Sobota</SelectItem>
        <SelectItem Value="6">Nedeľa</SelectItem>
    </Select>

</Field>

<Field>
    <FieldLabel>Začiatok dňa</FieldLabel>
    <TextEdit @bind-Text="@ZaciatokDna" type="time" />
</Field>

<Field>
    <FieldLabel>Koniec dňa</FieldLabel>
    <TextEdit @bind-Text="@KoniecDna" type="time" />
</Field>

@if (errors != null) {
<Alert Color="Color.Danger">
    @errors
</Alert>
}


<button @onclick="SubmitForm" class="btn btn-primary">Submit</button>
<button @onclick="Cancel" class="btn btn-secondary">Cancel</button>

@code {

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public Rozvrh Rozvrh { get; set; }

    private string errors = null;

    private string nazovRozvrhu;

    private int dni;

    private string dniStr
    {
        get => dni.ToString();
        set { }
    }

    private int zaciatok;

    private string _zaciatokDna;

    private string ZaciatokDna
    {
        get => _zaciatokDna;
        set
        {
            _zaciatokDna = value;
            OnTimeChanged();
        }

    }

    private string _koniecDna;
    private string KoniecDna
    {
        get => _koniecDna;
        set
        {
            _koniecDna = value;
            OnTimeChanged();
        }

    }


    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            nazovRozvrhu = Rozvrh.Nazov;
            dni = Rozvrh.PocetDni;
            zaciatok = Rozvrh.Zaciatok;
            _zaciatokDna = Rozvrh.ZaciatokDna.ToString(@"hh\:mm");
            _koniecDna = Rozvrh.KoniecDna.ToString(@"hh\:mm");
            StateHasChanged();
        }
    }


    void PridajDen()
    {
        dni++;
    }

    void OdoberDen()
    {
        if (dni > 0)
            dni--;
    }

    void SubmitForm()
    {
        if (errors == null)
        {
            Rozvrh.Nazov = nazovRozvrhu;
            Rozvrh.Zaciatok = zaciatok;
            Rozvrh.NastavPocetDni(dni);
            Rozvrh.ZaciatokDna = ParseTime(_zaciatokDna);
            Rozvrh.KoniecDna = ParseTime(_koniecDna);
            BlazoredModal.Close(ModalResult.Ok(Rozvrh));
        }
    }

    private TimeSpan ParseTime(string timeStr)
    {
        return Converters.FromTimeStr(timeStr);
    }

    private void OnTimeChanged()
    {
        if (ParseTime(_zaciatokDna) >= ParseTime(_koniecDna))
        {
            errors = "Nesprávne zvolená kombinácia začiatku a konca dňa";
        }
        else
        {
            errors = null;
        }

    }

    void Cancel()
    {
        BlazoredModal.Cancel();
    }


}
